{% if portfolio.filters %}
  <div class='area-filters'>
    <input type='checkbox' name='are-filters-visible' id='are-filters-visible' aria-hidden='true'>

    <label for='are-filters-visible' class='are-filters-visible' role='text' aria-label='Active filter: {{ selected | default: 'none' }} {{ filter.name }}'>
      <img class='arrow' src='{{ 'arrowRight.webp' | assetLink }}' alt='Arrow icon'>

      <span class='text'>Filter</span>
      
      {% if selected %}
        :<span class='{{ selected }}' style='background-color: {{ filter.color }} '>{{ filter.name }}</span>
      {% endif %}
    </label>

    <div class='filter-group'>
      <a href='{{ '/' | relativeLink }}' style='background-color: grey' class='category'>No filter</a>
    </div>

    <div class='filter-group'>
      <span>categories: </span>

      {% for category in portfolio.categories %}
        <a href='{{ '/categories/' | relativeLink }}{{ category.name | slug }}' style='background-color: {{ category.color }}' class='category'>{{ category.name }}</a>
      {% endfor %}
    </div>

    <div class='filter-group'>
      <span>tags: </span>

      {% for tag in portfolio.tags %}
        <a href='{{ '/tags/' | relativeLink }}{{ tag.name | slug }}' style='background-color: {{ tag.color }}' class='tag'>{{ tag.name }}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}
