{% if portfolio.filters %}
  <div class='filters'>
    <input type='checkbox' id='are-filters-visible' hidden aria-hidden='true'>

    <label for='are-filters-visible' class='filters__selected' role='text' aria-label='Active filter: {{ selected | default: 'none' }} {{ filter.name }}'>
      <img class='filters__arrow' src='{{ 'arrow.svg' | img }}' alt='Arrow icon' width='12' height='18'>

      <span>Filter</span>
      
      {% if selected %}
        :<span class='{{ selected }}' style='background-color: {{ filter.color }}'>{{ filter.name }}</span>
      {% endif %}
    </label>

    <div class='filters__group' hidden>
      <a href='{{ '/' | relative }}' class='category' style='background-color: grey'>No filter</a>
    </div>

    <div class='filters__group' hidden>
      <span>Categories: </span>

      {% for category in portfolio.categories %}
        <a href='{{ '/categories/' | relative }}{{ category.name | slug }}' class='category' style='background-color: {{ category.color }}'>{{ category.name }}</a>
      {% endfor %}
    </div>

    <div class='filters__group' hidden>
      <span>Tags: </span>

      {% for tag in portfolio.tags %}
        <a href='{{ '/tags/' | relative }}{{ tag.name | slug }}' class='tag' style='background-color: {{ tag.color }}'>{{ tag.name }}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}
