{% if portfolio.filters %}
  <div class='filters'>
    <input type='checkbox' id='are-filters-visible' hidden aria-hidden='true' checked>

    <label for='are-filters-visible' class='filters__selected' aria-label='Active filter: {{ selected | default: 'none' }} {{ filter.name }}' tabindex='0'>
      <img class='filters__arrow' src='{{ 'arrow.svg' | img }}' alt='Arrow icon' width='12' height='18'>

      <span>Filter</span>
      
      {% if selected %}
        :<span class='{{ selected }}' style='background-color: {{ filter.color }}'>{{ filter.name }}</span>
      {% endif %}
    </label>

    <div class='filters__group' hidden>
      <a href='{{ '/' | relative }}' class='category' style='background-color: grey'>No filter</a>
    </div>

    <div class='filters__group' hidden>
      <span>Categories: </span>

      <ul class='categories'>
        {% for category in portfolio.categories %}
          <li>
            <a href='{{ '/categories/' | relative }}{{ category.name | slug }}' class='category' style='background-color: {{ category.color }}'>{{ category.name }}</a>
          </li>
        {% endfor %}
      </ul>

    </div>

    <div class='filters__group' hidden>
      <span>Tags: </span>

      <ul class='tags'>
        {% for tag in portfolio.tags %}
          <li>
            <a href='{{ '/tags/' | relative }}{{ tag.name | slug }}' class='tag' style='background-color: {{ tag.color }}'>{{ tag.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
