<a href='{{ '/projects/' | relative }}{{ project.name | slug }}/' class='project'>
  <img class='image' src='{{ project.icon | img }}' alt='{{ project.name }} icon' loading='lazy'>

  <figcaption class='details'>
    <div class='top'>
      <h2 class='name'>{{ project.name }}</h2>
    </div>

    <div class='middle'>
      <p class='description'>{{ project.description }}</p>
    </div>

    <div class='bottom'>
      {% include project-categories-and-tags %}
    </div>
  </figcaption>
</a>
