<div class='area-title area-title--project'>
  {% if project.description or project.category or project.tags %}
    <h1 class='area-title__title' role='text'>{{ project.name }}</h1>
  {% else %}
    <h1 class='area-title__title area-title__title--no-details' role='text'>{{ project.name }}</h1>
  {% endif %}

  <div class='area-title__details'>
    {% if project.description %}
      <p class='area-title__description'>{{ project.description }}</p>
    {% endif %}

    {% if portfolio.filters %}
      {% if project.category or project.tags %}
        <div class='area-title__category-and-tags'>
          {% include components/project-category-and-tags, renderAsLinks: true %}
        </div>
      {% endif %}
    {% endif %}
  </div>

  <div class='area-title__icon'>
    <img
      src='{{ project.icon.src | img }}'
      alt='{{ project.name }} {{ 'icon' | translate: lang }}'
      width='{{ project.icon.width | default: '' }}'
      height='{{ project.icon.height | default: '' }}'>
  </div>
 </div>
