<div class='area-title area-title--project'>
  <div class='area-title__details'>
    <h1 class='area-title__title' role='text'>{{ project.name }}</h1>

    {% if project.description %}
      <p class='area-title__description'>{{ project.description }}</p>
    {% endif %}
  </div>

  <div class='area-title__category-and-tags'>
    {% include components/project-categories-and-tags, links: true %}
  </div>

  <div class='area-title__icon'>
    <img
      src='{{ project.icon.src | img }}'
      alt='{{ project.name }} icon'
      width='{{ project.icon.width | default: '' }}'
      height='{{ project.icon.height | default: '' }}'>
  </div>
 </div>
