<div class='filters'>
  <input type='checkbox' id='are-filters-visible' hidden aria-hidden='true' tabindex='-1'>

  <label for='are-filters-visible' class='filters__selected' role='text' aria-label='{{ 'active-filter' | translate: lang }}: {{ selected | default: 'none' }} {{ filter.name }}' tabindex='-1'>
    <img class='filters__arrow' src='{{ 'icons/arrow.svg' | asset }}' alt='{{ 'arrow-icon' | translate: lang }}' width='12' height='18'>

    <span>{{ 'filter' | translate: lang }}</span>
    
    {% if filter-type %}
      :<span class='{{ filter-type }}' style='background-color: {{ filter.color }}'>{{ filter.name }}</span>
    {% endif %}
  </label>

  {% if filter-type %}
    <div class='filters__group filters__group--no-filter'>
      <a href='{{ '/' | relative: lang }}' class='category' style='background-color: grey'>{{ 'no-filter' | translate: lang }}</a>
    </div>
  {% endif %}

  {% if categories.length > 0 %}
    <div class='filters__group'>
      <span>{{ 'categories' | translate: lang }}: </span>

      <ul class='categories'>
        {% for category in categories %}
          {% include components/category, renderAsLink: true %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if tags.length > 0 %}
    <div class='filters__group'>
      <span>{{ 'tags' | translate: lang }}: </span>

      <ul class='tags'>
        {% for tag in tags %}
          {% include components/tag, renderAsLink: true %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
