{% if portfolio.filters %}
  <div class='filters'>
    <input type='checkbox' id='are-filters-visible' hidden aria-hidden='true'>

    <label for='are-filters-visible' class='filters__selected' aria-label='{{ 'active-filter' | translate: lang }}: {{ selected | default: 'none' }} {{ filter.name }}' tabindex='0'>
      <img class='filters__arrow' src='{{ 'arrow.svg' | img }}' alt='{{ 'arrow-icon' | translate: lang }}' width='12' height='18'>

      <span>{{ 'filter' | translate: lang }}</span>
      
      {% if filter-type %}
        :<span class='{{ filter-type }}' style='background-color: {{ filter.color }}'>{{ filter.name }}</span>
      {% endif %}
    </label>

    <div class='filters__group' hidden>
      <a href='{{ '/' | relative: lang }}' class='category' style='background-color: grey'>{{ 'no-filter' | translate: lang }}</a>
    </div>

    <div class='filters__group' hidden>
      <span>{{ 'categories' | translate: lang }}: </span>

      <ul class='categories'>
        {% for category in categories %}
          <li>
            <a href='{{ '/categories' | relative: lang }}/{{ category.id }}#{{ category.name | slug }}' class='category' style='background-color: {{ category.color }}'>{{ category.name | capitalize }}</a>
          </li>
        {% endfor %}
      </ul>

    </div>

    <div class='filters__group' hidden>
      <span>{{ 'tags' | translate: lang }}: </span>

      <ul class='tags'>
        {% for tag in tags %}
          <li>
            <a href='{{ '/tags' | relative: lang }}/{{ tag.id }}#{{ tag.name | slug }}' class='tag' style='background-color: {{ tag.color }}'>{{ tag.name | capitalize }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
