<div class='project-content'>
  {% if project.links %}
    <h2 class='project-content__title'>{{ 'links' | translate: lang }}</h2>

    <ul class='project-content__links'>
      {% for link in project.links %}
        <li>
          <a href='{{ link.url }}' rel='noopener' target='_blank' aria-label='{{ link.name }}, {{ 'external-link' | translate: lang }}'>{{ link.name | capitalize }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if project.images %}
    <h2 class='project-content__title'>{{ 'images' | translate: lang }}</h2>

    <ul class='project-content__images'>
      {% for image in project.images %}
        {% if image.alt %}
          {% assign imgAlt = image.alt %}
        {% else %}
          {% assign imgAlt = 'Image ' | append: forloop.index | append: ' {{ 'of' | translate: lang }} ' | append: project.name %}
        {% endif %}

        <li>
          <img
            src='{{ image.src | img }}'
            alt='{{ imgAlt }}'
            width='{{ image.width | default: '' }}'
            height='{{ image.height | default: '' }}'
            class='no-interaction'>
        </li>
      {% endfor %}

      <!-- <li><img src='{{ project.images[0].src | img }}'></li> -->
    </ul>
  {% endif %}

  {% if project.videos %}
    <h2 class='project-content__title'>{{ 'videos' | translate: lang }}</h2>

    <ul class='project-content__videos'>
      {% for video in project.videos %}
        <li>
          {% if video.youtube %}
            <iframe src='{{ video.youtube }}' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
          {% else %}
            <video controls src='{{ video.src | video }}' poster='{{ project.icon.src | img }}'></video>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
