<a href='{{ '/projects/' | relative }}{{ project.name | slug }}/' class='project-preview'>
  <img
    src='{{ project.icon.src | img }}'
    alt='{{ project.name }} icon'
    width='{{ project.icon.width | default: '' }}'
    height='{{ project.icon.height | default: '' }}'
    class='project-preview__icon'>

  <figcaption class='project-preview__details'>
    <div class='project-preview__top'>
      <h2 class='project-preview__name'>{{ project.name }}</h2>
    </div>

    <div class='project-preview__middle'>
      <p class='project-preview__description'>{{ project.description }}</p>
    </div>

    <div class='project-preview__bottom'>
      {% include components/project-categories-and-tags %}
    </div>
  </figcaption>
</a>
