<div class='project-content'>
  {% if project.links %}
    <h2 class='project-content__title'>{{ 'links' | translate: lang }}</h2>

    <ul class='project-content__links'>
      {% for link in project.links %}
        <li>
          <a href='{{ link.url }}' rel='noopener' target='_blank' aria-label='{{ link.text }}, {{ 'external-link' | translate: lang }}'>{{ link.text | capitalize }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if project.images %}
    <h2 class='project-content__title'>{{ 'images' | translate: lang }}</h2>

    <ul class='project-content__images' data-children-count='{{ project.images.length }}'>
      {% for image in project.images %}
        {% if image.alt %}
          {% assign imgAlt = image.alt %}
        {% else %}
          {% assign imgAlt = 'Image ' | append: forloop.index | append: ' - ' | append: project.name %}
        {% endif %}

        <li>
          <img
            src='{{ image.src | img }}'
            alt='{{ imgAlt }}'
            width='{{ image.width | default: '' }}'
            height='{{ image.height | default: '' }}'
            class='no-interaction'>
        </li>
      {% endfor %}

      <button id='close' hidden tabindex='-1' aria-hidden='true'>&#9747</button>

      <button id='previous' hidden tabindex='-1' aria-hidden='true'>
        <img src='{{ 'icons/arrow.svg' | asset }}' alt='{{ 'arrow-icon' | translate: lang }}' width='12' height='18'>
      </button>

      <button id='next' hidden tabindex='-1' aria-hidden='true'>
        <img src='{{ 'icons/arrow.svg' | asset }}' alt='{{ 'arrow-icon' | translate: lang }}' width='12' height='18'>
      </button>
    </ul>
  {% endif %}

  {% if project.videos %}
    <h2 class='project-content__title'>{{ 'videos' | translate: lang }}</h2>

    <ul class='project-content__videos' data-children-count='{{ project.videos.length }}'>
      {% for video in project.videos %}
        <li>
          {% if video.youtube %}
            <iframe src='{{ video.youtube }}' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
          {% else %}
            <video controls src='{{ video.src | video }}' poster='{{ project.icon.src | img }}'></video>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
