---
pagination:
    data: portfolio.categories
    size: 1
    alias: filterCategory
permalink: "/categories/{{ filterCategory.name | slug }}/"
---

<!DOCTYPE HTML>
<html lang='en'>

<head>
    {% include head.html %}
    <title>{{ portfolio.name }} - Portfolio {{ filterCategory.name }}</title>
</head>

<body>
    <main>
        <a href="{{ portfolio.root }}/" class="back-button">
            <img src='{{ portfolio.root }}/assets/arrowRight.webp'>
        </a>

        {% include areaTitle.html %}

        {% include filters.html %}

        <div class='area-projects'>

            {% for project in portfolio.projects %}
                {% if project.category == filterCategory.name %}
                    {% include project.html %}
                {% endif %}
            {% endfor %}

        </div>
    </main>

    {% if portfolio.showFooter %}
        {% include footer.html %}
    {% endif %}
</body>

</html>