---
pagination:
    data: portfolio.projects
    size: 1
    alias: project
permalink: "{{ project.permalink | slug }}/"
---

<!DOCTYPE HTML>
<html lang='en'>

<head>
    {% include head.html %}
    <title>{{ portfolio.name }} - {{ project.name }}</title>
</head>

<body>
    <main class='project-page'>
        <a href="/" class="back-button">
            <img src='/assets/arrowRight.webp'>
        </a>

        <div class='area-title with-image'>
            {% for tag in portfolio.tags %}
                {% if tag.name == project.tag %}
                    <a href='/tags/{{ tag.name }}/' class='tag' style='background-color: {{ tag.color }}'>{{ tag.name }}</a>
                {% endif %}
            {% endfor %}

            <div class='project-image-container'>
                <img src="{{ project.icon }}" alt="Project image">
            </div>

            <div class='details'>
                <h1 id='title' class='title'>
                    <span class='project-name'>{{ project.name }}</span>
                    <br>
                    <span class='author'>by {{ portfolio.name }}</span>
                </h1>

                {% if project.description %}
                    <p class='description'>{{ project.description }}</p>
                {% endif %}
            </div>
        </div>

        <div class='area-project'>
            {% if project.links  %}
                <h2>Links</h2>

                <ul class='links'>
                    {% for link in project.links %}
                        <li><a href='{{ link.url }}' target='_blank'>{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if project.video or project.youtube %}
                <h2>Video</h2>

                {% if project.youtube %}
                    <iframe width="560" height="315" src="{{ project.youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% else %}
                    <video width="560" controls src="{{ project.video }}" poster="{{ project.icon }}"></video>
                {% endif %}
            {% endif %}

            {% if project.images %}
                <h2>Images</h2>

                <div class="images">
                    {% for image in project.images %}
                        <img src="{{ image }}" alt="Image of {{ project.name }}" loading='lazy'>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </main>

    {% if portfolio.showFooter %}
        {% include footer.html %}
    {% endif %}
</body>

</html>