---
pagination:
    data: portfolio.projects
    size: 1
    alias: project
permalink: "{{ project.link | slug }}/"
---

<!DOCTYPE HTML>
<html lang='en'>

<head>
    {% include head.html %}
    <title>{{ portfolio.name }} - {{ project.name }}</title>
</head>

<body>
    <main class='project-page'>
        <a href="/" class="back-button">
            <img src='/assets/arrowRight.webp'>
        </a>

        <div class='area-title with-image'>
            {% for tag in portfolio.tags %}
                {% if tag.name == project.tag %}
                    <a href='/tags/{{ tag.name }}/' class='tag' style='background-color: {{ tag.color }}'>{{ tag.name }}</a>
                {% endif %}
            {% endfor %}

            <div class='project-image-container'>
                <img src="{{ project.image }}" alt="Project image">
            </div>

            <div class='details'>
                <h1 id='title' class='title'>
                    <span class='project-name'>{{ project.name }}</span>
                    <br>
                    <span class='author'>by {{ portfolio.name }}</span>
                </h1>

                {% if project.description %}
                    <p class='description'>{{ project.description }}</p>
                {% endif %}
            </div>
        </div>

        <div class='area-project'>
            <div>
                <h2>Details</h2>
            </div>

            {% if project.screenshots.length %}
                <div>
                    <h2>Screenshots</h2>
                </div>
            {% endif %}

            {% if project.video %}
                <div>
                    <h2>Video</h2>
                </div>
            {% endif %}
        </div>
    </main>

    {% if portfolio.showFooter %}
        {% include footer.html %}
    {% endif %}
</body>

</html>