---
pagination:
  data: portfolio.projects
  size: 1
  alias: project
permalink: "/projects/{{ project.name | slug }}/"
---

<!DOCTYPE HTML>
<html lang='en'>

<head>
  {% include head %}
  <title>{{ portfolio.name }} - {{ project.name }}</title>
</head>

<body>
  <main class='project-page'>
    {% include back-button %}

    <div class='area-title with-image'>
      <div class="category-and-tags">
        {% assign links=true %}
        {% include categories-and-tags %}
      </div>

      <div class='project-image-container'>
        <img src="{{ project.icon | assetLink }}" alt="Project image">
      </div>

      <div class='details'>
        <h1 id='title' class='title'>
          <span class='project-name'>{{ project.name }}</span>
          <br>
          <span class='author'>by {{ portfolio.name }}</span>
        </h1>

        {% if project.description %}
          <p class='description'>{{ project.description }}</p>
        {% endif %}
      </div>
    </div>

    <div class='area-project'>
      {% if project.links %}
        <h2>Links</h2>

        <ul class='links'>
          {% for link in project.links %}
            <li>
              <a href='{{ link.url }}' rel='noopener' target='_blank'>{{ link.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if project.video or project.youtube %}
        <h2>Video</h2>

        {% if project.youtube %}
          <iframe width="560" height="315" src="{{ project.youtube }}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% else %}
          <video width="560" controls src="{{ project.video | assetLink }}" poster="{{ project.icon | assetLink }}"></video>
        {% endif %}
      {% endif %}

      {% if project.images %}
        <h2>Images</h2>

        <div class="images">
          {% for image in project.images %}
            {% if image.alt %}
              {% assign imgAlt = image.alt %}
            {% else %}
              {% assign imgAlt = "Image {{ forloop.index }} of {{ project.name }}" %}
            {% endif %}

            <img src="{{ image.src | assetLink }}" alt="{{ imgAlt }}" loading='lazy'>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </main>

  {% include footer %}
</body>

</html>
