{% if portfolio.showFooter %}
  <footer class='footer'>
    <p>{{ 'made-with' | translate: lang }} <a href='https://github.com/jonathan-santos/portfolio-generator' rel='noopener' target='_blank'
        aria-label='Portfolio Generator Github, {{ 'external-link' | translate: lang }}'>Portfolio generator</a> {{ 'by' | translate: lang }} <a
        href='https://github.com/jonathan-santos' rel='noopener' target='_blank'
        aria-label='Jonathan Santos Website, {{ 'external-link' | translate: lang }}'>Jonathan Santos</a></p>

    <p>{{ 'built-with' | translate: lang }} html, css, <a href='https://www.11ty.dev/' rel='noopener' target='_blank'
        aria-label='Eleventy Website, {{ 'external-link' | translate: lang }}'>Eleventy</a> {{ 'and' | translate: lang }} <img
        src='{{ 'icons/heart.svg' | asset }}' alt='{{ 'love' | translate: lang }}' width='16' height='16' loading='lazy'></p>

    <a href='#' class='footer__back-to-top'>{{ 'back-to-top' | translate: lang }}</a>
  </footer>
{% endif %}
